API_ID=28333138
API_HASH=ac71d4d6b2c3a78a10fb332b0409bd3a
BOT_TOKEN=7463997374:AAEtmKcled1FRfDIugl-kJXk228gfBqdF5I
MONGO_DB_URI=mongodb+srv://sampandey267:sampandey267@cluster0.ldmzk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002460622908
OWNER_ID=6903379369
STRING_SESSION=BQGwVFIAwQaoY2ojFwPVQzpTQaLBFG2MQOjUWWQ1Mn8MpPG98BwO_6SHWgj954tfgoEhpEV-ZnA1wWVlrk5riGnVauwwklchRspT3MYU2E3jsxAGR5q7_JoSquskOdk9icWnkRwvkOecqSLdmLLyOOXJvKMlnfFGPUjFHGf9CJUovHQpAFu48fBtHnsqyKQpi3o7bidWEfpKiJrYFmsYd1siOFLm2e2UJk5Jsj8wBbXzqirfykNjsSa-mcmbA8LRqF4VcQyidc7EujQtPk9_WBwy_i0-kjaxx48JzW_EXlZlKHclWJ8yr3zZBH2tXKriUQh2ePBJmcJnhUufRdJIyVpohcFoiwAAAAHag9h4AA
DEEP_API=
GPT_API=

